<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Sun Tour | KD's Page</title>
  </head>
  <body>
    <div data-include-path="layout.html"></div>
    <script src="../js/layout.js"></script>
    <main class="planner">
      <section class="planner__left">
        <article class="planner__intro">
          <h1 class="planner__title">Hello bitches,</h1>
          <h1 class="planner__title">Welocome to SunTour</h1>
          <p class="planner__txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            laborum neque dolorem dolore aliquid hic excepturi. Quidem
            praesentium debitis omnis. Provident architecto recusandae aut
            explicabo nulla nihil modi sequi quasi?
          </p>
        </article>
      </section>
      <section class="planner__plans">
        <ul class="grid">
          <li class="thumbnail thumbnail--theme-normal">
            <img src="../img/slave.jpg" alt="" />
            <div class="thumbnail__txt">
              <p>마우스 치워라</p>
            </div>
          </li>
          <li class="thumbnail thumbnail--theme-normal">
            <img src="../img/slave.jpg" alt="" />
            <div class="thumbnail__txt">
              <p>마우스 치워라</p>
            </div>
          </li>
          <li class="thumbnail thumbnail--theme-normal">
            <img src="../img/slave.jpg" alt="" />
            <div class="thumbnail__txt">
              <p>마우스 치워라</p>
            </div>
          </li>
          <li class="thumbnail thumbnail--theme-normal">
            <img src="../img/slave.jpg" alt="" />
            <div class="thumbnail__txt">
              <p>마우스 치워라</p>
            </div>
          </li>
          <li class="thumbnail thumbnail--theme-normal">
            <img src="../img/slave.jpg" alt="" />
            <div class="thumbnail__txt">
              <p>마우스 치워라</p>
            </div>
          </li>
          <li class="thumbnail thumbnail--theme-normal">
            <img src="../img/slave.jpg" alt="" />
            <div class="thumbnail__txt">
              <p>마우스 치워라</p>
            </div>
          </li>
        </ul>
      </section>
    </main>
    <script src="../js/planner.js"></script>
    <script
      src="https://kit.fontawesome.com/7723a79ab5.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
