.admin__notice-detail {
  width: 90%;
  height: 100%;
}
.admin__notice-detail--title {
  margin-bottom: 1rem;
}
.admin__notice-detail--title > h1 {
  font-size: 1.5rem;
}
.admin__notice-detail--sheet {
}
.admin__notice-detail--form {
}
.admin__notice-detail--list {
}
.admin__notice-detail--component {
  margin-bottom: 1rem;
}
.admin__notice-detail--component > span,
label,
input {
  font-size: 1rem;
  line-height: 2rem;
}
.admin__notice-detail--btns {
  display: flex;
}
.btn__normal--admin-noticedetail {
  margin-left: 1rem;
}
