.planner {
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  width: 96vw;
  align-self: center;
}
.planner__left {
  border: 1px solid red;
  margin-left: 4vw;
  margin-top: 4vh;
}
.planner__intro {
  border: 1px solid blue;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.planner__title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 4rem;
  width: 25vw;
}
.planner__txt {
  width: 35vw;
  font-size: 1.5rem;
  line-height: 2rem;
}
