@import "./reset.css";
@import "./layout.css";
@import "./main.css";
@import "./planner.css";
@import "./search.css";
@import "./plannermodal.css";
@import "./talkmodal.css";
@import "./payment.css";
@import "./qna.css";
@import "./qna_detail.css";
@import "./admin_noticelist.css";
@import "./admin_userlist.css";
@import "./admin_noticewrite.css";
@import "./admin_noticedetail.css";
@import "./component.css";

:root {
  --black: #181823;
  --blue: #47afd0;
  --sky: #c0eef2;
  --white: #e9f8f9;
  --yellow: #f2bf0a;
  --background: linear-gradient(92.76deg, #f2bf0a 2.29%, #47afd0 66.41%);
  --background_transparent: linear-gradient(
    92.76deg,
    rgba(242, 191, 10, 0.7) 2.29%,
    rgba(71, 175, 208, 0.7) 66.41%
  );
  scroll-behavior: auto;
}

body {
  height: auto;
  min-height: 114vh;
}

main {
  height: 100%;
  min-height: 100%;
  margin-top: 7vh;
  margin-bottom: 30vh;
  /* border: 2px solid green; */
}
